@import 'base/typography.css';
@import 'base/colors.css';
@import 'base/theme.css';

*{
    margin: 0;
    padding: 0;
    /* border 1px solid red to check position */
    border: red solid 1px;
}

/* Default styles for all screens */
html{
    font-size: 10px
}

body{
    background-color: var(--theme-background);
    color: var(--theme-text);
}

/* Tablet and larger screen */
@media screen and (min-width: 768px){
    html{
        font-size: 14px;
    }
}

/* Desktop screens and larger */
@media screen and (min-width: 1024px){
    html{
        font-size: 16px;
    }
}